# coding: utf-8

"""


    Generated by: https://openapi-generator.tech
"""

from dataclasses import dataclass
import re  # noqa: F401
import sys  # noqa: F401
import typing
import urllib3
import functools  # noqa: F401
from urllib3._collections import HTTPHeaderDict

from openapi_client import api_client, exceptions
import decimal  # noqa: F401
from datetime import date, datetime  # noqa: F401
from frozendict import frozendict  # noqa: F401

from openapi_client.schemas import (  # noqa: F401
    AnyTypeSchema,
    ComposedSchema,
    DictSchema,
    ListSchema,
    StrSchema,
    IntSchema,
    Int32Schema,
    Int64Schema,
    Float32Schema,
    Float64Schema,
    NumberSchema,
    UUIDSchema,
    DateSchema,
    DateTimeSchema,
    DecimalSchema,
    BoolSchema,
    BinarySchema,
    NoneSchema,
    none_type,
    Configuration,
    Unset,
    unset,
    ComposedBase,
    ListBase,
    DictBase,
    NoneBase,
    StrBase,
    IntBase,
    Int32Base,
    Int64Base,
    Float32Base,
    Float64Base,
    NumberBase,
    UUIDBase,
    DateBase,
    DateTimeBase,
    BoolBase,
    BinaryBase,
    Schema,
    _SchemaValidator,
    _SchemaTypeChecker,
    _SchemaEnumMaker
)

from openapi_client.model.filters import Filters
from openapi_client.model.field_list import FieldList

# path params
CatalogSchema = StrSchema


class FormatSchema(
    _SchemaEnumMaker(
        enum_value_to_name={
            "sh": "SH",
            "uris": "URIS",
            "zip": "ZIP",
        }
    ),
    StrSchema
):
    
    @classmethod
    @property
    def SH(cls):
        return cls("sh")
    
    @classmethod
    @property
    def URIS(cls):
        return cls("uris")
    
    @classmethod
    @property
    def ZIP(cls):
        return cls("zip")
RequestRequiredPathParams = typing.TypedDict(
    'RequestRequiredPathParams',
    {
        'catalog': CatalogSchema,
        'format': FormatSchema,
    }
)
RequestOptionalPathParams = typing.TypedDict(
    'RequestOptionalPathParams',
    {
    },
    total=False
)


class RequestPathParams(RequestRequiredPathParams, RequestOptionalPathParams):
    pass


request_path_catalog = api_client.PathParameter(
    name="catalog",
    style=api_client.ParameterStyle.SIMPLE,
    schema=CatalogSchema,
    required=True,
)
request_path_format = api_client.PathParameter(
    name="format",
    style=api_client.ParameterStyle.SIMPLE,
    schema=FormatSchema,
    required=True,
)
# body param


class SchemaForRequestBodyApplicationJson(
    ComposedSchema
):

    @classmethod
    @property
    @functools.cache
    def _composed_schemas(cls):
        # we need this here to make our import statements work
        # we must store _composed_schemas in here so the code is only run
        # when we invoke this method. If we kept this at the class
        # level we would get an error because the class level
        # code would be run when this module is imported, and these composed
        # classes don't exist yet because their module has not finished
        # loading
        
        
        class allOf_1(
            DictSchema
        ):
            _required_property_names = set((
            ))
        
            @classmethod
            @property
            def fields(cls) -> typing.Type['FieldList']:
                return FieldList
            _additional_properties = None
        
        
            def __new__(
                cls,
                *args: typing.Union[dict, frozendict, ],
                _configuration: typing.Optional[Configuration] = None,
            ) -> 'allOf_1':
                return super().__new__(
                    cls,
                    *args,
                    _configuration=_configuration,
                )
        return {
            'allOf': [
                Filters,
                allOf_1,
            ],
            'oneOf': [
            ],
            'anyOf': [
            ],
            'not':
                None
        }

    def __new__(
        cls,
        *args: typing.Union[dict, frozendict, str, date, datetime, int, float, decimal.Decimal, None, list, tuple, bytes],
        _configuration: typing.Optional[Configuration] = None,
        **kwargs: typing.Type[Schema],
    ) -> 'SchemaForRequestBodyApplicationJson':
        return super().__new__(
            cls,
            *args,
            _configuration=_configuration,
            **kwargs,
        )


request_body_any_type = api_client.RequestBody(
    content={
        'application/json': api_client.MediaType(
            schema=SchemaForRequestBodyApplicationJson),
    },
)
_path = '/{catalog}/attachments/{format}'
_method = 'POST'
SchemaFor200ResponseBodyTextXShellscript = AnyTypeSchema
SchemaFor200ResponseBodyTextUriList = AnyTypeSchema
SchemaFor200ResponseBodyApplicationZip = AnyTypeSchema


@dataclass
class ApiResponseFor200(api_client.ApiResponse):
    response: urllib3.HTTPResponse
    body: typing.Union[
        SchemaFor200ResponseBodyTextXShellscript,
        SchemaFor200ResponseBodyTextUriList,
        SchemaFor200ResponseBodyApplicationZip,
    ]
    headers: Unset = unset


_response_for_200 = api_client.OpenApiResponse(
    response_cls=ApiResponseFor200,
    content={
        'text/x-shellscript': api_client.MediaType(
            schema=SchemaFor200ResponseBodyTextXShellscript),
        'text/uri-list': api_client.MediaType(
            schema=SchemaFor200ResponseBodyTextUriList),
        'application/zip': api_client.MediaType(
            schema=SchemaFor200ResponseBodyApplicationZip),
    },
)
_status_code_to_response = {
    '200': _response_for_200,
}
_all_accept_content_types = (
    'text/x-shellscript',
    'text/uri-list',
    'application/zip',
)


class AttachmentsPost(api_client.Api):

    def attachments_post(
        self: api_client.Api,
        body: typing.Union[SchemaForRequestBodyApplicationJson, Unset] = unset,
        path_params: RequestPathParams = frozendict(),
        content_type: str = 'application/json',
        accept_content_types: typing.Tuple[str] = _all_accept_content_types,
        stream: bool = False,
        timeout: typing.Optional[typing.Union[int, typing.Tuple]] = None,
        skip_deserialization: bool = False,
    ) -> typing.Union[
        ApiResponseFor200,
        api_client.ApiResponseWithoutDeserialization
    ]:
        """
        Download attachments in bulk from matching rows for multiple fields
        :param skip_deserialization: If true then api_response.response will be set but
            api_response.body and api_response.headers will not be deserialized into schema
            class instances
        """
        self._verify_typed_dict_inputs(RequestPathParams, path_params)

        _path_params = {}
        for parameter in (
            request_path_catalog,
            request_path_format,
        ):
            parameter_data = path_params.get(parameter.name, unset)
            if parameter_data is unset:
                continue
            serialized_data = parameter.serialize(parameter_data)
            _path_params.update(serialized_data)

        _headers = HTTPHeaderDict()
        # TODO add cookie handling
        if accept_content_types:
            for accept_content_type in accept_content_types:
                _headers.add('Accept', accept_content_type)

        _fields = None
        _body = None
        if body is not unset:
            serialized_data = request_body_any_type.serialize(body, content_type)
            _headers.add('Content-Type', content_type)
            if 'fields' in serialized_data:
                _fields = serialized_data['fields']
            elif 'body' in serialized_data:
                _body = serialized_data['body']
        response = self.api_client.call_api(
            resource_path=_path,
            method=_method,
            path_params=_path_params,
            headers=_headers,
            fields=_fields,
            body=_body,
            stream=stream,
            timeout=timeout,
        )

        if skip_deserialization:
            api_response = api_client.ApiResponseWithoutDeserialization(response=response)
        else:
            response_for_status = _status_code_to_response.get(str(response.status))
            if response_for_status:
                api_response = response_for_status.deserialize(response, self.api_client.configuration)
            else:
                api_response = api_client.ApiResponseWithoutDeserialization(response=response)

        if not 200 <= response.status <= 299:
            raise exceptions.ApiException(api_response=api_response)

        return api_response
