.DS_Store
/.stack-work/
/stack.yaml.lock
/config-*
.idea
/web/node_modules/
/web/index.js
/web/bundle.js*
/web/main.js
/web/common.js
/web/compare.js
/web/catalog.js
/web/types.js
/web/*.js.map
/web/style.css
/web/*.css.map
*.gz
/web/package-lock.json
/web/.sass-cache/
*.hi
*.dyn_hi
*.o
*.dyn_o
/flatfront/node_modules/
/flatfront/package-lock.json
/flatfront/build/
/.vscode