/* Loading screens
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.modal-background {
  background-color: $cooler-gray;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
}

.modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: $cooler-off-black;
  padding: 2rem;
  max-width: 900px;
  align-items: center;
  justify-content: center;
}

.modal-content > h3 {
  margin-bottom: 1rem;
}

.modal-content > p {
  margin-bottom: 1rem;
}
/* Progress Bar
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.progress-container {
  width: 300px;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .progress-container {
    width: 500px;
  }
}

.progress-interior {
  height: 18px;
  border-radius: 4px;
  background-image: linear-gradient(
    to right,
    #ff513a,
    #c93926,
    #c42d19,
    #ffada3,
    #ff533d,
    #ff2d55
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-exterior .progress-interior {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ff513a,
    #c93926,
    #c42d19,
    #ffada3,
    #ff533d,
    #ff2d55
  );
  animation: colorAnimation 1s infinite;
}

.progress-exterior {
  padding: 6px;
}

@keyframes colorAnimation {
  0% {
    background-image: linear-gradient(
      to right,
      #ff513a,
      #c93926,
      #c42d19,
      #ffada3,
      #ff533d,
      #ff2d55
    );
  }
  20% {
    background-image: linear-gradient(
      to right,
      #c93926,
      #c42d19,
      #ffada3,
      #ff533d,
      #ff2d55,
      #ff513a
    );
  }
  40% {
    background-image: linear-gradient(
      to right,
      #c42d19,
      #ffada3,
      #ff533d,
      #ff2d55,
      #ff513a,
      #c93926
    );
  }
  60% {
    background-image: linear-gradient(
      to right,
      #ffada3,
      #ff533d,
      #ff2d55,
      #ff513a,
      #c93926,
      #c42d19
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      #ffada3,
      #ff533d,
      #ff2d55,
      #ff513a,
      #c93926,
      #c42d19
    );
  }
}

.dataTables_wrapper .dataTables_processing {
  color: $cooler-off-black;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid;
  border-radius: 4px;
}
