/* Breadcrumbs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.breadcrumb-container {
  margin: 0 calc(-2.5vw + -20px) 0.1rem calc(-2.5vw + -20px);
}
.breadcrumb {
  margin: 0 5vw;
  max-width: 95vw;
  padding: 1rem 0;
  background-color: transparent;
}

.breadcrumb-item {
  display: inline;
  padding: 0 0.8em 0 0.8em;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.breadcrumb-item:first-of-type {
  padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.8em;
}

.breadcrumb-item > a {
  border-bottom: 1px solid $cooler-red;
}
.breadcrumb-item > a:hover {
  text-decoration: none;
}
