/* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $gray1;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 0 !important;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
  text-decoration: none;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  // color: $off-black;
  background-color: $white;
  // border-color: $off-black;
  max-width: 270px;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: $white;
  background-color: $red;
  border-color: $red;
  text-decoration: none;
}

.button-close {
  padding: 0 10px;
}

.button.button-remove,
button.button-remove,
input[type="submit"].button-remove,
input[type="reset"].button-remove,
input[type="button"].button-remove {
  max-width: 270px;
  margin-bottom: 0;
  color: $off-black;
  opacity: 0.6;
  background-color: transparent;
  border-color: transparent;
  max-width: 270px;
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  padding: 0 5px;
  height: auto;
}

.button.button-remove:hover,
button.button-remove:hover,
input[type="submit"].button-remove:hover,
input[type="reset"].button-remove:hover,
input[type="button"].button-remove:hover,
.button.button-remove:focus,
button.button-remove:focus,
input[type="submit"].button-remove:focus,
input[type="reset"].button-remove:focus,
input[type="button"].button-remove:focus {
  color: $off-black;
  opacity: 1;
  text-decoration: none;
}

.button-close {
  padding: 0 10px;
}
.show_button {
  display: inline;
  margin-right: 10px;
}

.btn-badge-inline {
  height: 37px;
  border-color: $black;
  margin-left: 1rem;
  margin-bottom: 0 !important;
}

.btn-badge {
  height: 37px;
  border-color: $black;
  margin-bottom: 0 !important;
  margin-top: 2rem;
}
