.click-tab-container {
  flex-basis: 33vw;
}

.click-tab {
  background-color: $red;
  color: $white;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: baseline;

  .click-tab-close {
    color: $white;
    &:before {
      content: "x";
      font-weight: 300;
    }
  }
  .click-tab-content {
    margin-bottom: 0;
    display: inline-block;
    font-weight: 400;
    color: $white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
