/* Tabs
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.tab {
  overflow: hidden;
  border: 1px solid #e1e1e1;
  border-radius: 4px 4px 0 0;
  background-color: #eee;
  height: 40px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  border-bottom: none;
  border-radius: 0;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent,
.datacontent {
  display: none;
  padding: 2.5rem 3rem;
  border: 1px solid #e1e1e1;
  border-top: none;
  border-radius: 0 0 4px 4px;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.py-query {
  max-width: 100%;
  display: none;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  margin: 2.5rem 0.2rem;
  font-size: 90%;
  border-radius: 4px;
}

.py-pre {
  white-space: pre-line;
  margin: 1rem 1rem 2.5rem 1rem;
}
