/* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: "Lexend Zetta", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */

@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

.body-copy {
  text-align: left;
}

/* Links
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: $cooler-black;
  text-decoration: none;
}

a:hover {
  color: $cooler-red;
}

/* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

.python-block {
  margin-top: 2rem;
  padding: 1rem;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
}

pre:first-child {
  overflow-wrap: break-word !important;
  overflow: scroll;
}

.tweener {
  padding-bottom: 5px !important;
  font-size: 2rem;
  font-weight: 700;
}
