@import url("https://fonts.googleapis.com/css?family=Lexend+Zetta|Open+Sans&display=swap");
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$header-font: "Lexend Zetta", sans-serif;
$body-font: "Open Sans", Helvetica, Arial, sans-serif;
$off-black: rgba(41, 44, 47, 1);
$black: rgba(34, 34, 34, 1);
$white: rgba(254, 254, 255, 1);
$platinum: rgb(231, 231, 232);
$red: rgb(255, 83, 61);
$pink: #ffdbd7;
$azure: rgba(214, 239, 255, 1);
$blue: rgba(164, 222, 249, 1);
$yellow: rgba(255, 193, 7, 1);
$gray0: rgba(143, 146, 150, 1);
$gray1: #bbb;
$gray2: rgba(143, 146, 150, 0.5);
$gray3: rgba(143, 146, 150, 0.1);
