@import url("https://fonts.googleapis.com/css?family=Lexend+Zetta|Open+Sans&display=swap");
/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$header-font: "Lexend Zetta", sans-serif;
$body-font: "Open Sans", Helvetica, Arial, sans-serif;
$cooler-off-black: rgba(41, 44, 47, 1);
$cooler-black: rgba(34, 34, 34, 1);
$cooler-white: rgba(254, 254, 255, 1);
$cooler-platinum: #e7e7e8;
$cooler-red: #ff533d;
$cooler-azure: rgba(214, 239, 255, 1);
$cooler-blue: rgba(164, 222, 249, 1);
$cooler-gray: rgba(143, 146, 150, 1);
