/* Collections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.collections-container {
  background-color: $white;
  opacity: 0.8;
  padding: 10px;
}

.collection-label {
  color: $off-black;
  font-size: 50px;
  text-transform: uppercase;
  border: white;
  padding: 100px 0;
  text-decoration: none;
  border: 5px white solid;
  margin-top: 7rem;
}

.collections-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.collection-card-heading {
  font-family: $body-font;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  color: $fh-blue2;
}

.collection-link {
  text-decoration: none;
}
