---
import "../lib/globals.css";

import App from "../lib/App";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>FlatHUB</title>
  </head>
  <body class="bg-slate-300 dark:bg-slate-800 dark:text-slate-50">
    <App client:load />
  </body>
</html>
