---
import "../lib/globals.css";
import "highcharts/css/highcharts.css";

import App from "../lib/components/App";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>FlatHUB</title>
  </head>
  <body class="dark:bg-black dark:text-simons-gray-4 font-mono">
    <App client:only="react" />
  </body>
</html>
