/* Dedicated Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

dt {
  margin-bottom: 1rem;
}

dt > a {
  font-weight: bolder;
  font-size: 1.6rem;
  border-bottom: 1px solid $fh-blue2;
}

dd {
  margin-bottom: 1.5rem;
}

dd:before {
  padding-right: 0.8em;
  content: ' - ';
}

dd > a {
  border-bottom: 1px solid $fh-blue2;
}

a.underline,
a.underline:hover {
  text-decoration: none;
  border-bottom: 1px solid $fh-blue2;
}

dt > a:hover,
dd > a:hover {
  text-decoration: none;
}
dt {
  padding-top: 10px;
}
/* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
