table#tdict {
  font-size: 1.2rem;
}
table#tcat {
  margin: 0;
  display: block;
  width: 100% !important;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 1.2rem !important;
}

table#tcat th {
  border-right: solid 1px #444;
  font-size: 1.2rem !important;
  background: rgba(0250, 250, 250, 0.8);
  span.units {
    font-size: 1.2rem !important;
  }
}

table#tcat td {
  white-space: nowrap;
}

#tdict > tbody > tr > td.depth-0 {
  padding-left: 0px;
}
#tdict > tbody > tr > td.depth-1 {
  padding-left: 25px;
}
#tdict > tbody > tr > td.depth-2 {
  padding-left: 50px;
}
#tdict > tbody > tr > td.depth-3 {
  padding-left: 75px;
}
#tdict > tbody > tr > td.units {
  text-align: center;
}
#tcat_info {
  font-size: 1.2rem !important;
  margin-bottom: 1rem;
  color: $fh-blue2;
  &:after {
    content: 'Scroll right for more fields→';
    font-style: italic;
    margin-left: 5px;
  }
}

.dataTables_wrapper {
  .dataTables_paginate,
  .dataTables_length {
    margin-top: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.highcharts-data-table {
  table {
    font-size: 1.2rem;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: $black;
    th,
    td {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 1px solid #e1e1e1;
    }
    th:first-child,
    td:first-child {
      padding-left: 0;
    }
    th:last-child,
    td:last-child {
      padding-right: 0;
    }
  }
}
